

.main-login-form{
    background-image:url("./photo_2023-07-22_10-35-50.v4 (1).png") ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
        overflow: hidden;

}
.ant-form-item-required{
    color: #fff !important;
}