.home{
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  .button-open{
    position: absolute;
    top: 1px;
    left: 270px;
    transition:  0.2s linear;
    width: 40px;
    height: 40px;
    background: #338CFF;
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    border: none;
    i{
      transform: rotate(180deg);
    }
    &.active{
      i{
        transform: rotate(0deg);
      }
      left: 0;
    }
  }
  .sidebar{
    background: #338CFF;

    height: 100vh;
    overflow: hidden;
    transform: translateX(-100%);
    width: 0;
    transition:  0.2s linear, width 0.2s linear ;
    &.active{
      width: 320px;
      transform: translateX(0);
    }
  }
  .content{
    overflow-y: auto;
    width: 100%;
    &::-webkit-scrollbar{
      width: 7px;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 15px;
      background: linear-gradient(135deg, #6BAAFC 0%, #305FEC 100%);
      box-shadow: 0px 2px 10px 0px rgba(175, 137, 255, 0.15);
    }
  }
  .nav-links{
    display: flex;
    align-items: start;
    margin: 0 auto;
    width: fit-content;
    flex-direction: column !important;
    .nav-link{
      display: flex;
      align-items: center;
      gap: 27px;
      color: #FFF;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration: none;
      width: 236px;
      height: 50px;
      padding: 14px;
      box-sizing: border-box;
      &.active{
        flex-shrink: 0;
        border-radius: 10px;
        background: #5AA2FF;
      }
    }


  }
  .bottom{
    margin-top: 144px
  }
}