.timer {
position: absolute !important;
width: 50px;
    height: 50px;
    top: -3px;
    right: -2px;
    z-index: 10 !important ;
}
.timer > svg{
    width: 50px;
    height: 50px;
}
.timer > svg > circle {
    fill: none;
    stroke-opacity: 0.3;
    stroke: #0d6efd;
    stroke-width: 3;
    transform-origin: center center;
    transform: rotate(-90deg);
}

.timer > svg > circle + circle {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
}

.timer.animatable > svg > circle + circle {
    transition: stroke-dashoffset 0.2s ease-in-out;
}

.timer > svg > text {
    font-size: 12px;
    font-weight: bold;
}

