.moderator{

  .main{
    margin-top: 39px;
  }
}
.add{
  .main-section{
    display: flex !important;
    flex-direction: row;
margin-top: 31px;
  .form{
    display: flex;
    align-items: center;
  }
.main-inputs{
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 20px;
  .button{
    width: 100%;
  }
}
    .image{
      margin: 0 auto;
      width: fit-content !important;
    }
  }
}
